body {
	background-color: #f2c9fb;
	height: 650px;
	width: 1350px;
	overflow: scroll;
}

.logout, .del {
	font-family: lucida sans; 
	font-size: 16px; 
	color: #958d94;
}

.h1, .h2 {
	text-align: center;
	font-family: lucida sans;
	font-size: 26px; 
	color: #958d94;
}

.table1 {
	border-radius: 5px;
	border-color: #fefce0;
	width: 1250px;
	font-family: lucida sans;
	border-collapse: collapse;
	position: absolute;
	display: block;
	text-align: center;
	margin-left: 320px;
	margin-top: 30px;
}

th {	
	margin-top: 200px;
	background-color: #ce53ed;
	font-size: 15px;
	text-transform: uppercase;
	text-align: left;
	padding: 7px 10px 10px 10px;
	color: #fefce0;
}

td {
	margin-top: 200px;
	padding: 7px 10px 10px 10px;
	background-color: white;
	font-size: 13.5px;
	text-align: left;
	color: #958d94;
}

.pp {
	border-radius: 45px;
	height: 90px;
	width: 90px;
	display: block;
	object-fit: cover;
}

.comments {
	margin-top: 1300px;
}

.table2 {
	border-radius: 5px;
	border-color: #fefce0;
	width: 1250px;
	font-family: lucida sans;
	border-collapse: collapse;
	text-align: center;
	margin-top: 50px;
	margin-left: 50px;
}
